{
	"developerAbbreviation": "",
	"protocolName": "",
	"protocolAbbreviation": "",
	"agents": [
		{
			"agentType": "account-balance",
			"name": "agent_1",
			"accountBalance": {
				"contractName1": {
					"address": "",
					"thresholdEth": 0,
					"alert": { "type": "Type", "severity": "Severity" }
				}
			},
			"alertMinimumIntervalSeconds": 86400
		},
		{
			"agentType": "address-watch",
			"name": "agent_2",
			"everestId": "0x55d07cab60a86966a01680e2242c4af4080a5566",
			"addressList": {
				"0xFe1A6056EE03235f30f7a48407A5673BBf25eD48": {
					"name": "AaveDeployer",
					"type": "Info",
					"severity": "Info"
				}
			}
		},
		{
			"agentType": "admin-events",
			"name": "agent_3",
			"contracts": {
				"contractName1": {
					"address": "contractAddress1",
					"abiFile": "filename1.json",
					"events": {
						"address": "contractAddress1",
						"type": "Type",
						"severity": "Severity"
					}
				}
			}
		},
		{
			"agentType": "contract-variable-monitor",
			"name": "agent_4",
			"contracts": {
				"contractName1": {
					"address": "contractAddress1",
					"abiFile": "filename1.json",
					"variables": {
						"variableName1": {
							"type": "Type",
							"severity": "Severity",
							"upperThresholdPercent": 0,
							"lowerThresholdPercent": 0,
							"numDataPoints": 10
						}
					}
				}
			}
		},
		{
			"agentType": "gnosis-safe-multisig",
			"name": "agent_5",
			"gnosisSafe": {
				"address": "contractAddress",
				"version": "gnosisSafeContractVersion"
			}
		},
		{
			"agentType": "governance",
			"name": "agent_6",
			"governance": {
				"address": "",
				"abiFile": ""
			}
		},
		{
			"agentType": "monitor-function-calls",
			"name": "agent_7",
			"contracts": {
				"contractName1": {
					"address": "contractAddress1",
					"abiFile": "contractAbiFileName1.json",
					"functions": {
						"FunctionName1": {
							"expression": "amount > 6000",
							"type": "Type",
							"severity": "Severity"
						}
					}
				}
			}
		},
		{
			"agentType": "new-contract-interaction",
			"name": "agent_8",
			"contracts": {
				"contractName1": {
					"thresholdBlockCount": 7,
					"thresholdTransactionCount": 7,
					"address": "contractAddress1",
					"filteredAddresses": [
						"filteredAddress1",
						"filteredAddress2"
					],
					"findingType": "Type",
					"findingSeverity": "Severity"
				}
			}
		},
		{
			"agentType": "tornado-cash-monitor",
			"name": "agent_9",
			"addressList": {
				"contractName1": {
					"address": "contractAddress1",
					"type": "type",
					"severity": "severity"
				}
			}
		},
		{
			"agentType": "transaction-failure-count",
			"name": "agent_10",
			"blockWindow": 25,
			"failedTransactions": {
				"contractName1": {
					"address": "contractAddress2",
					"transactionFailuresLimit": 10,
					"type": "Type",
					"severity": "Severity"
				}
			}
		},
	]
}
