{
  "developerAbbreviation": "",
  "protocolName": "",
  "protocolAbbreviation": "",
  "bots": [
    {
      "botType": "account-balance",
      "name": "bot_1",
      "accountBalance": {
        "contractName1": {
          "address": "",
          "thresholdEth": 0,
          "alert": { "type": "Type", "severity": "Severity" }
        }
      },
      "alertMinimumIntervalSeconds": 86400
    },
    {
      "botType": "address-watch",
      "name": "bot_2",
      "contracts": {
        "contractName1": {
          "name": "accountName1",
          "address": "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D",
          "watch" : {
            "type": "Info",
            "severity": "Info"
          }
        }
      }
    },
    {
      "botType": "admin-events",
      "name": "bot_3",
      "contracts": {
        "contractName1": {
          "address": "contractAddress1",
          "abiFile": "filename1.json",
          "events": {
            "address": "contractAddress1",
            "type": "Type",
            "severity": "Severity"
          }
        }
      }
    },
    {
      "botType": "contract-variable-monitor",
      "name": "bot_4",
      "contracts": {
        "contractName1": {
          "address": "contractAddress1",
          "abiFile": "filename1.json",
          "variables": {
            "variableName1": {
              "type": "Type",
              "severity": "Severity",
              "upperThresholdPercent": 0,
              "lowerThresholdPercent": 0,
              "numDataPoints": 10
            }
          }
        }
      }
    },
    {
      "botType": "gnosis-safe-multisig",
      "name": "bot_5",
      "gnosisSafe": {
        "address": "contractAddress",
        "version": "gnosisSafeContractVersion"
      }
    },
    {
      "botType": "governance",
      "name": "bot_6",
      "governance": {
        "address": "",
        "abiFile": ""
      }
    },
    {
      "botType": "monitor-function-calls",
      "name": "bot_7",
      "contracts": {
        "contractName1": {
          "address": "contractAddress1",
          "abiFile": "contractAbiFileName1.json",
          "functions": {
            "FunctionName1": {
              "expression": "amount > 6000",
              "type": "Type",
              "severity": "Severity"
            }
          }
        }
      }
    },
    {
      "botType": "new-contract-interaction",
      "name": "bot_8",
      "contracts": {
        "contractName1": {
          "thresholdBlockCount": 7,
          "thresholdTransactionCount": 7,
          "address": "contractAddress1",
          "filteredAddresses": [
            "filteredAddress1",
          "filteredAddress2"
          ],
          "findingType": "Type",
          "findingSeverity": "Severity"
        }
      }
    },
    {
      "botType": "tornado-cash-monitor",
      "name": "bot_9",
      "addressList": {
        "contractName1": {
          "address": "contractAddress1",
          "type": "type",
          "severity": "severity"
        }
      }
    },
    {
      "botType": "transaction-failure-count",
      "name": "bot_10",
      "blockWindow": 25,
      "failedTransactions": {
        "contractName1": {
          "address": "contractAddress2",
          "transactionFailuresLimit": 10,
          "type": "Type",
          "severity": "Severity"
        }
      }
    },
  ]
}
