{
    "developerAbbreviation": "DEV",
    "protocolName": "FullName",
    "protocolAbbreviation": "ABREV",
    "observationIntervalInBlocks": 10,
    "contracts": {
        "contractName1": {
            "address": "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D",
            "tornado": {
                "type": "Info",
                "severity": "Info"
            }
        }
    }
}